1 dicom/dicomcda/cda/unauthenticatedReportCDA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:hl7-org:v3" 
	targetNamespace="urn:hl7-org:v3" 
	elementFormDefault="qualified"
	>
	<xs:annotation>
		<xs:documentation>Base: saluduy hcen cdamin 2.1 (diciembre 2017)</xs:documentation>
		<xs:documentation>Adiciones empiezan con comentario OPENDICOM y terminan con comentario /OPENDICOM</xs:documentation>
	</xs:annotation>
	<!-- 
	<xs:include schemaLocation="cda_r2_normativewebedition2010/processable/coreschemas/voc.xsd"/>
 	-->	
	<xs:include schemaLocation="cda_r2_normativewebedition2010/processable/coreschemas/NarrativeBlock.xsd"/>
	
	<xs:element name="ClinicalDocument">
		<xs:complexType>
			<xs:sequence>
				
				<xs:element name="typeId">
					<xs:complexType>
						<xs:attribute name="root" fixed="2.16.840.1.113883.1.3"/>
						<xs:attribute name="extension" fixed="POCD_HD000040"/>
					</xs:complexType>
				</xs:element>

<!-- OPENDICOM -->
				<xs:element name="templateId">
					<xs:complexType>
						<xs:attribute name="root">
							<xs:simpleType>
								<xs:restriction base="DICOMUI">
									<xs:pattern value="2\.16\.858\.2\.10000675\.72591\.10014247\.[1-9]\d*\.\d">
										<xs:annotation>
											<xs:documentation>2.16.858=unaoid</xs:documentation>
											<xs:documentation>2=objeto</xs:documentation>
											<xs:documentation>10000675=SNIS</xs:documentation>
											<xs:documentation>72591=ModeloDePlantillaDigital</xs:documentation>
											<xs:documentation>10014247=Jesros</xs:documentation>
											<xs:documentation>[1-9]\d*=número</xs:documentation>
											<xs:documentation>\d=versión</xs:documentation>
										</xs:annotation>
									</xs:pattern>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
<!-- /OPENDICOM -->

				<xs:element name="id" type="HCENCDAII"/>
				
				<xs:element name="code">
					<xs:annotation>
						<xs:documentation>Valores del eje 1 de la ontología de documentos, Diccionario Salud.uy</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="displayName" fixed="Diagnóstico imagenológico"/>
						<xs:attribute name="codeSystemName" fixed="LOINC"/>
						<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.6.1"/>
						<xs:attribute name="code" fixed="18748-4"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="title" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Título sugerido: eje 2 ontología de documentos</xs:documentation>
						
						<xs:documentation>informe de densitometría ósea</xs:documentation>
						<xs:documentation>informe de ecografía</xs:documentation>
						<xs:documentation>informe de imagenología</xs:documentation>
						<xs:documentation>informe de mamografía</xs:documentation>
						<xs:documentation>informe de medicina nuclear</xs:documentation>
						<xs:documentation>informe de resonancia magnética nuclear</xs:documentation>
						<xs:documentation>informe de tomografía computarizada</xs:documentation>
						<xs:documentation>informe radiológico</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="effectiveTime" type="HCENDT">
					<xs:annotation>
						<xs:documentation>fecha de creación del documento</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="confidentialityCode">
					<xs:complexType>
						<!-- <xs:attribute name="displayName" fixed="normal"/> -->
						<!-- <xs:attribute name="codeSystemName" fixed="HL7"/> -->
						<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.5.25"/>
						<xs:attribute name="code" fixed="N"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="languageCode">
					<xs:complexType>
						<xs:attribute name="code" fixed="es-UY"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="setId" type="HCENCDAII" minOccurs="0">
					<xs:annotation>
						<xs:documentation>En caso de versionado, id del doc anterior</xs:documentation>
					</xs:annotation>					
				</xs:element>
				
				<xs:element name="versionNumber">
					<xs:complexType>
						<xs:attribute name="value" type="xs:positiveInteger"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="recordTarget"> 
					<xs:complexType>
						<xs:sequence>
							<xs:element name="patientRole">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="HCENPID"/>						
										<xs:element name="patient">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="HCENPNAME"/>													
													<xs:element name="administrativeGenderCode" type="HCENSEXO"/>
													<xs:element name="birthTime" type="DICOMDA"/>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="author" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time" type="DICOMDT"/>
							
							<xs:element name="assignedPAuthor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="HCENPID"/>						
										<xs:element name="assignedPerson" type="HCENPNAME">
										</xs:element>
										<xs:element name="representedOrganization" type="HCENORG"/>									
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="custodian">
					<xs:annotation>
						<xs:documentation>OID, nombre, IHEInvokeImageDisplay base URL</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedCustodian">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="representedCustodianOrganization" type="HCENORG"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

<!-- OPENDICOM-->
				<!-- DICOM requesting -->				
				<xs:element name="informationRecipient">
					<xs:annotation>
						<xs:documentation>DICOM requesting physician</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="intendedRecipient">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>identificador del médico solicitante</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>forma(s) de comunicarse con el médico solicitante</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="informationRecipient">
											<xs:annotation>
												<xs:documentation>apellido, nombre, especialidad, prefijo y sufijo del médico solicitante</xs:documentation>
											</xs:annotation>							
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name">
														<xs:simpleType>
															<xs:annotation>
																<xs:documentation>apellidos</xs:documentation>
																<xs:documentation>^nombres</xs:documentation>
																<xs:documentation>^especialidad</xs:documentation>
																<xs:documentation>^prefijo</xs:documentation>
																<xs:documentation>^sufijo</xs:documentation>
															</xs:annotation>
															<xs:restriction base="xs:string">
																<xs:pattern value="([\c*(>\c*)?]|-|)(^(\c*|-|)){0,4}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="receivedOrganization" type="HCENORG">
											<xs:annotation>
												<xs:documentation>organización representada por el médico solicitante</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<!-- DICOM patient insurance plan -->				
				<xs:element name="informationRecipient" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Patient insurance plan(s) or</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="intendedRecipient">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="receivedOrganization" type="HCENORG"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<!-- DICOM acessionNumber -->				
				<xs:element name="inFulfillmentOf" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>DICOM accession number related to custodian</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="order">
								<xs:complexType>
									<xs:attribute name="extension"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<!-- DICOM request -->				
				<xs:element name="documentationOf" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>solicitud relacionada</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="serviceEvent">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="DICOMUI">
											<xs:annotation>
												<xs:documentation>StudyInstanceUID de la solicitud</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="code" type="DICOMREQCODE"></xs:element>
										<xs:element name="effectiveTime">
											<xs:annotation>
												<xs:documentation>fecha hora solicitada</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="low" type="HCENDT"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Performer" type="ATNDassignedEntity">
											<xs:annotation>
												<xs:documentation>Identificación del servicio responsable de realizar la solicitud</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
<!-- /OPENDICOM-->
				
				<xs:element name="componentOf" minOccurs="0">
					<xs:annotation>
						<xs:documentation>realizador - performing</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="encompassingEncounter">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="code">
											<xs:annotation>
												<xs:documentation>ontologia HCEN - segundo eje</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="displayName" type="DICOMLO"/>
												<xs:attribute name="codeSystemName" fixed="SNOMED CT"/>
												<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.6.96"/>
												<xs:attribute name="code" type="DICOMSH"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="effectiveTime">
											<xs:annotation>
												<xs:documentation>principio y fin del evento</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="low" type="HCENDT" minOccurs="0"/>
													<xs:element name="high" type="HCENDT" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
<!-- OPENDICOM-->										
										<!-- DICOM performing -->				
										<xs:element name="encounterParticipant" type="ATNDassignedEntity">
											<xs:annotation>
												<xs:documentation>copia (eventualmente modificada de documentationOf/ServiceEvent/Performer</xs:documentation>
											</xs:annotation>
										</xs:element>
<!-- /OPENDICOM-->
										<xs:element name="location">
											<xs:annotation>
												<xs:documentation>servicio</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="healthCareFacility">
														<xs:annotation>
															<xs:documentation>ontologia HCEN - tercer eje</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="displayName" type="DICOMLO"/>
																		<xs:attribute name="codeSystemName" fixed="SNOMED CT"/>
																		<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.6.96"/>
																		<xs:attribute name="code" type="DICOMSH"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="classCode" fixed="SDLOC"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="typeCode" fixed="LOC"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="component">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="structuredBody">
								<xs:complexType>
									<xs:sequence>
										<!-- clinical information -->
										<xs:element name="component" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																		<xs:attribute name="codeSystemName" fixed="LOINC"/>
																		<xs:attribute name="code" fixed="55752-0"/>
																		<xs:attribute name="displayName" fixed="Dato clínico"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="title" fixed="Dato clínico"/>
																<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
																<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- imaging procedure description -->
										<xs:element name="component">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																		<xs:attribute name="codeSystemName" fixed="LOINC"/>
																		<xs:attribute name="code" fixed="55111-9"/>
																		<xs:attribute name="displayName" fixed="Procedimiento imagenológico"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="title" fixed="Procedimiento imagenológico"/>
																<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
																<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- comparison study -->
										<xs:element name="component" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																		<xs:attribute name="codeSystemName" fixed="LOINC"/>
																		<xs:attribute name="code" fixed="18834-2"/>
																		<xs:attribute name="displayName" fixed="Estudio predecedente"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="title" fixed="Estudio predecedente"/>
																<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
																<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- findings -->
										<xs:element name="component" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																		<xs:attribute name="codeSystemName" fixed="LOINC"/>
																		<xs:attribute name="code" fixed="59776-5"/>
																		<xs:attribute name="displayName" fixed="Hallazgos"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="title" fixed="Hallazgos"/>
																<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
																<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- impressiones -->
										<xs:element name="component" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																		<xs:attribute name="codeSystemName" fixed="LOINC"/>
																		<xs:attribute name="code" fixed="19005-8"/>
																		<xs:attribute name="displayName" fixed="Impresiones"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="title" fixed="Impresiones"/>
																<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
																<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<!-- adendum -->
										<xs:element name="component" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="section">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																		<xs:attribute name="codeSystemName" fixed="LOINC"/>
																		<xs:attribute name="code" fixed="8653-8"/>
																		<xs:attribute name="displayName" fixed="Aviso legal"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="title" fixed="Aviso legal"/>
																<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- RIDI HCEN complexTypes -->
	
	<xs:complexType name="HCENCDAII">
		<xs:attribute name="root">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="2\.16\.858\.2\.1\d{7}\.67430\.20\d\d(0[1-9]|10|11|12)(0[1-9]|1\d|2\d|30|31)(00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23)[0-5]\d[0-5]\d\.[1-9]\d*\.[1-9]\d*">
						<xs:annotation>
							<xs:documentation>2.16.858=unaoid</xs:documentation>
							<xs:documentation>2=objeto</xs:documentation>
							<xs:documentation>1\d(7)= organización (10001442=ASSE)</xs:documentation>
							<xs:documentation>67430=Historia Clínica Electrónica</xs:documentation>
							<xs:documentation>aaaammddhhmmss=timestamp</xs:documentation>
							<xs:documentation>[1-9]\d*=consecutivo interno</xs:documentation>
							<xs:documentation>[1-9]\d*\=id HIS</xs:documentation>
						</xs:annotation>
					</xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="HCENDT">
		<xs:attribute name="value" type="DICOMDT"/>		
	</xs:complexType>
	
	<xs:complexType name="HCENDA">
		<xs:attribute name="value" type="DICOMDA"/>		
	</xs:complexType>

	<xs:complexType name="HCENPID">
		<xs:attribute name="root">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="2\.16\.858\.1\.[1-9]\d{0,2}\.(68909|69024)(\.[1-9]\d*)?">
						<xs:annotation>
							<xs:documentation>2.16.858=unaoid</xs:documentation>
							<xs:documentation>1=persona</xs:documentation>
							<xs:documentation>[1-9]\d{0-2}= código país del documento</xs:documentation>
							<xs:documentation>68909=CI, 69024=otro</xs:documentation>
							<xs:documentation>([1-9]\d*)=nro (en caso de nro con letras, se encuentra solamente en extensión)</xs:documentation>
						</xs:annotation>
					</xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="extension" type="DICOMSH">
			<xs:annotation>
				<xs:documentation>Valid values include Snoopy, CMS, 1950-10-04, and 0836217462</xs:documentation>
			</xs:annotation>
		</xs:attribute>												
	</xs:complexType>
	
	<xs:complexType name="HCENSEXO">
		<xs:attribute name="codeSystem" fixed="2.16.858.2.10000675.69600"/>
		<xs:attribute name="displayName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(No\ssabe|Masculino|Feminino|No/sespecificado)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="code">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(0|1|2|9)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>														
	
	<xs:complexType name="HCENPNAME">
		<xs:sequence>
			<xs:element name="name">
				<xs:complexType>
					<xs:choice maxOccurs="6">
						<xs:element name="given" type="DICOMNAME" minOccurs="0" maxOccurs="4"/>
						<xs:element name="family" type="DICOMNAME" minOccurs="1" maxOccurs="2"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HCENORG">
		<xs:sequence>
			<xs:element name="id">
				<xs:complexType>
					<xs:attribute name="root">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="2\.16\.858\.0(\.[1-9]\d*|\.0)*">
									<xs:annotation>
										<xs:documentation>2.16.858=unaoid</xs:documentation>
										<xs:documentation>0=institution</xs:documentation>
									</xs:annotation>
								</xs:pattern>
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>														
			</xs:element>
			<xs:element name="name" type="DICOMLO"/>		 
			<xs:element name="telecom" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ATNDassignedEntity">
		<xs:sequence>
			<xs:element name="assignedEntity">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id">
							<xs:complexType>
								<xs:attribute name="extension" type="DICOMPNosp">
									<xs:annotation>
										<xs:documentation>org^servicio^profesional</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="root" type="DICOMUI">
									<xs:annotation>
										<xs:documentation>unidad ejecutora</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="telecom" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>contacto con médico o técnico a cargo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="representedOrganization" type="HCENORG" minOccurs="0">
							<xs:annotation>
								<xs:documentation>en caso que la realización está subcontrada</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="typeCode" fixed="ATND"/>
	</xs:complexType>
	
<!-- / RIDI HCEN complex types -->

<!-- OPENDICOM complex types -->
	
	<xs:complexType name="DICOMREQCODE">
		<xs:sequence>
			<xs:element name="translation">
				<xs:complexType>
					<xs:attribute name="code" type="DICOMMODALITY"/>
					<xs:attribute name="displayName" type="DICOMMODALITYNAME"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="code" type="DICOMSH"/>
		<xs:attribute name="codeSystem" type="DICOMUI"/>
		<xs:attribute name="codeSystemName" type="DICOMSH"/>
		<xs:attribute name="displayName" type="DICOMLO"/>
	</xs:complexType>
	
<!-- /OPENDICOM complex types -->
	
<!-- OPENDICOM simple types -->
	
	<xs:simpleType name="DICOMMODALITY">
		<xs:restriction base="xs:string">
			<xs:pattern value="(CR|DR|CT|MR|XA|PT|PET|OT|SR|SC|DOC)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMMODALITYNAME">
		<xs:restriction base="xs:string">
			<xs:pattern value="(RADIOLOGIA\sCOMPUTADA|RADIOLOGIA\sDIGITAL|TOMOGRAFIA\sCOMPUTADA|RESONANCIA\sMAGNETICA|ANGIOGRAFIA|PET|PET|OTRO|INFORME\sESTRUCTURADO|CAPTURA\sSEGUNDARIA|DOCUMENTO)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMDT">
		<xs:restriction base="xs:string">
			<xs:pattern value="20\d\d(0[1-9]|10|11|12)(0[1-9]|1\d|2\d|30|31)(00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23)[0-5]\d[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DICOMDA">
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|10|11|12)(0[1-9]|1\d|2\d|30|31)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMSH">
		<xs:restriction base="xs:NMTOKEN">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMUI">
		<xs:restriction base="xs:token">
			<xs:pattern value="(0|[1-9]/d*)(\.(0|[1-9]/d*))*"></xs:pattern>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMPNosp">
		<xs:annotation>
			<xs:documentation>institucion^service^profesional (- o -^- finales autorizados cuando no son especificos)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value=".+(^.*)"></xs:pattern>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMLO">
		<xs:restriction base="xs:token">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMNAME">
		<xs:restriction base="xs:NCName">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
<!-- /OPENDICOM simple types -->
	
	
	
<!-- POCD_MT000040.Entry -->
	<xs:complexType name="entry">
		<xs:sequence>
			<xs:choice>
				<xs:element name="act" type="act"/>
				<xs:element name="encounter" type="POCD_MT000040.Encounter"/>
				<xs:element name="observation" type="POCD_MT000040.Observation"/>
				<xs:element name="observationMedia" type="POCD_MT000040.ObservationMedia"/>
				<xs:element name="organizer" type="POCD_MT000040.Organizer"/>
				<xs:element name="procedure" type="POCD_MT000040.Procedure"/>
				<xs:element name="regionOfInterest" type="POCD_MT000040.RegionOfInterest"/>
				<xs:element name="substanceAdministration" type="POCD_MT000040.SubstanceAdministration"/>
				<xs:element name="supply" type="POCD_MT000040.Supply"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="act">
		<xs:sequence>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="classCode" type="x_ActClassDocumentEntryAct" use="required"/>
		<xs:attribute name="moodCode" type="x_DocumentActMood" use="required"/>
	</xs:complexType>
	
	

<!-- simple types CDA -->
	
	<xs:simpleType name="BinaryDataEncoding">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="B64"/>
			<xs:enumeration value="TXT"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="cs">
		<xs:annotation>
			<xs:documentation>
				Coded data in its simplest form, consists of a code.
				The code system and code system version is fixed by 
				the context in which the CS value occurs. CS is used
				for coded attributes that have a single HL7-defined
				value set.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[^\s]+"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ts">
		<xs:annotation>
			<xs:documentation>
				A quantity specifying a point on the axis of natural time.
				A point in time is most often represented as a calendar
				expression.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}|([0-9]{9,14}|[0-9]{14,14}\.[0-9]+)([+\-][0-9]{1,4})?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CompressionAlgorithm">
		<xs:annotation>
			<xs:documentation>vocSet: D10620 (C-0-D10620-cpt)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="DF"/>
			<xs:enumeration value="GZ"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value="ZL"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="bin">
		<xs:annotation>
			<xs:documentation>
				Binary data is a raw block of bits. Binary data is a
				protected type that MUST not be used outside the data
				type specification.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	
	<xs:simpleType name="IntegrityCheckAlgorithm">
		<xs:annotation>
			<xs:documentation>vocSet: D17385 (C-0-D17385-cpt)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="SHA-1"/>
			<xs:enumeration value="SHA-256"/>
		</xs:restriction>
	</xs:simpleType>
	
	
	<!-- complex types -->
	
	<xs:complexType name="ANY" abstract="true">
		<xs:annotation>
			<xs:documentation>
				Defines the basic properties of every data value. This
				is an abstract type, meaning that no value can be just
				a data value without belonging to any concrete type.
				Every concrete type is a specialization of this
				general abstract DataValue type.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional">
			<xs:annotation>
				<xs:documentation>
					An exceptional value expressing missing information
					and possibly the reason why the information is missing.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="BIN" abstract="true" mixed="true">
		<xs:annotation>
			<xs:documentation>
				Binary data is a raw block of bits. Binary data is a
				protected type that MUST not be used outside the data
				type specification.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ANY">
				<xs:attribute name="representation" use="optional" type="BinaryDataEncoding" default="TXT">
					<xs:annotation>
						<xs:documentation>
							Specifies the representation of the binary data that
							is the content of the binary data value.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ED" mixed="true">
		<xs:annotation>
			<xs:documentation>
				Data that is primarily intended for human interpretation
				or for further machine processing is outside the scope of
				HL7. This includes unformatted or formatted written language,
				multimedia data, or structured information as defined by a
				different standard (e.g., XML-signatures.)  Instead of the
				data itself, an ED may contain 
				only a reference (see TEL.) Note
				that the ST data type is a
				specialization of the ED data type
				when the ED media type is text/plain.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BIN">
				<xs:sequence>
					<xs:element name="reference" type="TEL" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								A telecommunication address (TEL), such as a URL
								for HTTP or FTP, which will resolve to precisely
								the same binary data that could as well have been
								provided as inline data.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="thumbnail" minOccurs="0" maxOccurs="1" type="thumbnail"/>
				</xs:sequence>
				<xs:attribute name="mediaType" type="cs" use="optional" default="text/plain">
					<xs:annotation>
						<xs:documentation>
							Identifies the type of the encapsulated data and
							identifies a method to interpret or render the data.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="language" type="cs" use="optional">
					<xs:annotation>
						<xs:documentation>
							For character based information the language property
							specifies the human language of the text.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="compression" type="CompressionAlgorithm" use="optional">
					<xs:annotation>
						<xs:documentation>
							Indicates whether the raw byte data is compressed,
							and what compression algorithm was used.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="integrityCheck" type="bin" use="optional">
					<xs:annotation>
						<xs:documentation>
							The integrity check is a short binary value representing
							a cryptographically strong checksum that is calculated
							over the binary data. The purpose of this property, when
							communicated with a reference is for anyone to validate
							later whether the reference still resolved to the same
							data that the reference resolved to when the encapsulated
							data value with reference was created.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="integrityCheckAlgorithm" type="IntegrityCheckAlgorithm" use="optional" default="SHA-1">
					<xs:annotation>
						<xs:documentation>
							Specifies the algorithm used to compute the
							integrityCheck value.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ST" mixed="true">
		<xs:annotation>
			<xs:documentation>
				The character string data type stands for text data,
				primarily intended for machine processing (e.g.,
				sorting, querying, indexing, etc.) Used for names,
				symbols, and formal expressions.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ED">
				<xs:sequence>
					<xs:element name="reference" type="TEL" minOccurs="0" maxOccurs="0"/>
					<xs:element name="thumbnail" type="ED" minOccurs="0" maxOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="representation" type="BinaryDataEncoding" fixed="TXT"/>
				<xs:attribute name="mediaType" type="cs" fixed="text/plain"/>
				<xs:attribute name="language" type="cs" use="optional"/>
				<xs:attribute name="compression" type="CompressionAlgorithm" use="prohibited"/>
				<xs:attribute name="integrityCheck" type="bin" use="prohibited"/>
				<xs:attribute name="integrityCheckAlgorithm" type="IntegrityCheckAlgorithm" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="thumbnail" mixed="true">
		<xs:annotation>
			<xs:documentation>
				A thumbnail is an abbreviated rendition of the full
				data. A thumbnail requires significantly fewer
				resources than the full data, while still maintaining
				some distinctive similarity with the full data. A
				thumbnail is typically used with by-reference
				encapsulated data. It allows a user to select data
				more efficiently before actually downloading through
				the reference.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ED">
				<xs:sequence>
					<xs:element name="reference" type="TEL" minOccurs="0" maxOccurs="1"/>
					<xs:element name="thumbnail" type="thumbnail" minOccurs="0" maxOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>
