C.annex/dicomcda/cda/unauthenticatedReportCDA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
	vc:minVersion="1.1"
	xmlns="urn:hl7-org:v3" 
	targetNamespace="urn:hl7-org:v3" 
	>
	<xs:annotation>
		<xs:documentation>Base: saluduy hcen cdamin 2.1 (diciembre 2017)</xs:documentation>
		<xs:documentation>Adiciones empiezan con comentario OPENDICOM y terminan con comentario /OPENDICOM</xs:documentation>
	</xs:annotation>
	<!-- 
	<xs:include schemaLocation="cda_r2_normativewebedition2010/processable/coreschemas/voc.xsd"/>
 	-->	
	<xs:include schemaLocation="cda_r2_normativewebedition2010/processable/coreschemas/NarrativeBlock.xsd"/>
	
	<xs:element name="ClinicalDocument">
		<xs:complexType>
			<xs:sequence>
				
				<xs:element name="typeId">
					<xs:complexType>
						<xs:attribute name="root" fixed="2.16.840.1.113883.1.3"/>
						<xs:attribute name="extension" fixed="POCD_HD000040"/>
					</xs:complexType>
				</xs:element>

<!-- OPENDICOM -->				
				<xs:element name="templateId">
					<xs:complexType>
						<xs:attribute name="root" type="DICOMUI">
							<!--
							<xs:simpleType>
								<xs:restriction base="DICOMUI">
									<xs:pattern value="2\.16\.858\.2\.10000675\.72591\.10014247\.[1-9]\d*\.[1-9]">
										<xs:annotation>
											<xs:documentation>2.16.858=unaoid</xs:documentation>
											<xs:documentation>2=objeto</xs:documentation>
											<xs:documentation>10000675=SNIS</xs:documentation>
											<xs:documentation>72591=ModeloDePlantillaDigital</xs:documentation>
											<xs:documentation>10014247=Jesros</xs:documentation>
											<xs:documentation>[1-9]\d*=número</xs:documentation>
											<xs:documentation>\d=versión</xs:documentation>
										</xs:annotation>
									</xs:pattern>
								</xs:restriction>
							</xs:simpleType>
							-->
						</xs:attribute>
					</xs:complexType>
				</xs:element>
<!-- /OPENDICOM -->

				<xs:element name="id" type="HCENCDAII"/>
				
				<xs:element name="code">
					<xs:annotation>
						<xs:documentation>Valores del eje 1 de la ontología de documentos, Diccionario Salud.uy</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="displayName" fixed="Diagnóstico imagenológico"/>
						<xs:attribute name="codeSystemName" fixed="LOINC"/>
						<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.6.1"/>
						<xs:attribute name="code" fixed="18748-4"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="title" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Título sugerido: eje 2 ontología de documentos</xs:documentation>
						
						<xs:documentation>informe de densitometría ósea</xs:documentation>
						<xs:documentation>informe de ecografía</xs:documentation>
						<xs:documentation>informe de imagenología</xs:documentation>
						<xs:documentation>informe de mamografía</xs:documentation>
						<xs:documentation>informe de medicina nuclear</xs:documentation>
						<xs:documentation>informe de resonancia magnética nuclear</xs:documentation>
						<xs:documentation>informe de tomografía computarizada</xs:documentation>
						<xs:documentation>informe radiológico</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="effectiveTime" type="HCENDT">
					<xs:annotation>
						<xs:documentation>fecha de creación del documento</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="confidentialityCode">
					<xs:complexType>
						<!-- <xs:attribute name="displayName" fixed="normal"/> -->
						<!-- <xs:attribute name="codeSystemName" fixed="HL7"/> -->
						<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.5.25"/>
						<xs:attribute name="code" fixed="N"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="languageCode">
					<xs:complexType>
						<xs:attribute name="code" fixed="es-UY"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="setId" type="HCENCDAII" minOccurs="0">
					<xs:annotation>
						<xs:documentation>En caso de versionado, id del doc anterior</xs:documentation>
					</xs:annotation>					
				</xs:element>
				
				<xs:element name="versionNumber">
					<xs:complexType>
						<xs:attribute name="value" type="xs:positiveInteger"/>
					</xs:complexType>
				</xs:element>

				<xs:element name="recordTarget"> 
					<xs:complexType>
						<xs:sequence>
							<xs:element name="patientRole">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="HCENPID"/>						
										<xs:element name="patient">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="HCENPNAME"/>													
													<xs:element name="administrativeGenderCode" type="HCENSEXO"/>
													<xs:element name="birthTime" type="DICOMDA"/>													
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="author" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="time" type="DICOMDT"/>
							
							<xs:element name="assignedPAuthor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="HCENPID"/>						
										<xs:element name="assignedPerson" type="HCENPNAME">
										</xs:element>
										<xs:element name="representedOrganization" type="HCENORG"/>									
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="custodian">
					<xs:annotation>
						<xs:documentation>OID, nombre, IHEInvokeImageDisplay base URL</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="assignedCustodian">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="representedCustodianOrganization" type="HCENORG"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

<!-- OPENDICOM-->
				<!-- DICOM requesting (first, with informationRecipient)-->
				<!-- DICOM patient insurance plan (following ones, without informationRecipient)-->				
				<xs:element name="informationRecipient" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="intendedRecipient">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>identificador del médico solicitante</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>forma(s) de comunicarse con el médico solicitante</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="informationRecipient" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>apellido, nombre, especialidad, prefijo y sufijo del médico solicitante</xs:documentation>
											</xs:annotation>							
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name">
														<xs:simpleType>
															<xs:annotation>
																<xs:documentation>apellidos</xs:documentation>
																<xs:documentation>^nombres</xs:documentation>
																<xs:documentation>^especialidad</xs:documentation>
																<xs:documentation>^prefijo</xs:documentation>
																<xs:documentation>^sufijo</xs:documentation>
															</xs:annotation>
															<xs:restriction base="xs:string">
																<xs:pattern value="([\c*(>\c*)?]|-|)(^(\c*|-|)){0,4}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="receivedOrganization" type="HCENORG">
											<xs:annotation>
												<xs:documentation>organización representada por el médico solicitante</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<!-- DICOM acessionNumber -->				
				<xs:element name="inFulfillmentOf" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>DICOM accession number related to custodian</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="order">
								<xs:complexType>
									<xs:attribute name="extension"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<!-- DICOM request -->				
				<xs:element name="documentationOf" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>solicitud relacionada</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="serviceEvent">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="DICOMUI">
											<xs:annotation>
												<xs:documentation>StudyInstanceUID de la solicitud</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="code" type="DICOMREQCODE"></xs:element>
										<xs:element name="effectiveTime">
											<xs:annotation>
												<xs:documentation>fecha hora solicitada</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="low" type="HCENDT"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Performer" type="ATNDassignedEntity">
											<xs:annotation>
												<xs:documentation>Identificación del servicio responsable de realizar la solicitud</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
<!-- /OPENDICOM-->
				
				<xs:element name="componentOf" minOccurs="0">
					<xs:annotation>
						<xs:documentation>realizador - performing</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="encompassingEncounter">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="code">
											<xs:annotation>
												<xs:documentation>ontologia HCEN - segundo eje</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="displayName" type="DICOMLO"/>
												<xs:attribute name="codeSystemName" fixed="SNOMED CT"/>
												<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.6.96"/>
												<xs:attribute name="code" type="DICOMSH"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="effectiveTime">
											<xs:annotation>
												<xs:documentation>principio y fin del evento</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="low" type="HCENDT" minOccurs="0"/>
													<xs:element name="high" type="HCENDT" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
<!-- OPENDICOM-->										
										<!-- DICOM performing -->				
										<xs:element name="encounterParticipant" type="ATNDassignedEntity">
											<xs:annotation>
												<xs:documentation>copia (eventualmente modificada de documentationOf/ServiceEvent/Performer</xs:documentation>
											</xs:annotation>
										</xs:element>
<!-- /OPENDICOM-->
										<xs:element name="location">
											<xs:annotation>
												<xs:documentation>servicio</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="healthCareFacility">
														<xs:annotation>
															<xs:documentation>ontologia HCEN - tercer eje</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:complexType>
																		<xs:attribute name="displayName" type="DICOMLO"/>
																		<xs:attribute name="codeSystemName" fixed="SNOMED CT"/>
																		<xs:attribute name="codeSystem" fixed="2.16.840.1.113883.6.96"/>
																		<xs:attribute name="code" type="DICOMSH"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="classCode" fixed="SDLOC"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="typeCode" fixed="LOC"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="component">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="structuredBody">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="component" type="component3" minOccurs="6" maxOccurs="6">
											<xs:alternative test="position()=1" type="sectionClinicalInformation"/>
											<xs:alternative test="position()=2" type="sectionImagingProcedure"/>
											<xs:alternative test="position()=3" type="sectionComparisonStudy"/>
											<xs:alternative test="position()=4" type="sectionFindings"/>
											<xs:alternative test="position()=5" type="sectionImpression"/>
											<xs:alternative test="position()=6" type="sectionAddendum"/>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- RIDI HCEN complexTypes -->
	
	<xs:complexType name="HCENCDAII">
		<xs:attribute name="root">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="2\.16\.858\.2\.1\d{7}\.67430\.20\d\d(0[1-9]|10|11|12)(0[1-9]|1\d|2\d|30|31)(00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23)[0-5]\d[0-5]\d\.[1-9]\d*\.[1-9]\d*">
						<xs:annotation>
							<xs:documentation>2.16.858=unaoid</xs:documentation>
							<xs:documentation>2=objeto</xs:documentation>
							<xs:documentation>1\d(7)= organización (10001442=ASSE)</xs:documentation>
							<xs:documentation>67430=Historia Clínica Electrónica</xs:documentation>
							<xs:documentation>aaaammddhhmmss=timestamp</xs:documentation>
							<xs:documentation>[1-9]\d*=consecutivo interno</xs:documentation>
							<xs:documentation>[1-9]\d*\=id HIS</xs:documentation>
						</xs:annotation>
					</xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="HCENDT">
		<xs:attribute name="value" type="DICOMDT"/>		
	</xs:complexType>
	
	<xs:complexType name="HCENDA">
		<xs:attribute name="value" type="DICOMDA"/>		
	</xs:complexType>

	<xs:complexType name="HCENPID">
		<xs:attribute name="root">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="2\.16\.858\.1\.[1-9]\d{0,2}\.(68909|69024)(\.[1-9]\d*)?">
						<xs:annotation>
							<xs:documentation>2.16.858=unaoid</xs:documentation>
							<xs:documentation>1=persona</xs:documentation>
							<xs:documentation>[1-9]\d{0-2}= código país del documento</xs:documentation>
							<xs:documentation>68909=CI, 69024=otro</xs:documentation>
							<xs:documentation>([1-9]\d*)=nro (en caso de nro con letras, se encuentra solamente en extensión)</xs:documentation>
						</xs:annotation>
					</xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="extension" type="DICOMSH">
			<xs:annotation>
				<xs:documentation>Valid values include Snoopy, CMS, 1950-10-04, and 0836217462</xs:documentation>
			</xs:annotation>
		</xs:attribute>												
	</xs:complexType>
	
	<xs:complexType name="HCENSEXO">
		<xs:attribute name="codeSystem" fixed="2.16.858.2.10000675.69600"/>
		<xs:attribute name="displayName">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(No\ssabe|Masculino|Feminino|No/sespecificado)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="code">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(0|1|2|9)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>														
	
	<xs:complexType name="HCENPNAME">
		<xs:sequence>
			<xs:element name="name">
				<xs:complexType>
					<xs:choice maxOccurs="6">
						<xs:element name="given" type="DICOMNAME" minOccurs="0" maxOccurs="4"/>
						<xs:element name="family" type="DICOMNAME" minOccurs="1" maxOccurs="2"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HCENORG">
		<xs:sequence>
			<xs:element name="id">
				<xs:complexType>
					<xs:attribute name="root">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="2\.16\.858\.0(\.[1-9]\d*|\.0)*">
									<xs:annotation>
										<xs:documentation>2.16.858=unaoid</xs:documentation>
										<xs:documentation>0=institution</xs:documentation>
									</xs:annotation>
								</xs:pattern>
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>														
			</xs:element>
			<xs:element name="name" type="DICOMLO"/>		 
			<xs:element name="telecom" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ATNDassignedEntity">
		<xs:sequence>
			<xs:element name="assignedEntity">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id">
							<xs:complexType>
								<xs:attribute name="extension" type="DICOMPNosp">
									<xs:annotation>
										<xs:documentation>org^servicio^profesional</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="root" type="DICOMUI">
									<xs:annotation>
										<xs:documentation>unidad ejecutora</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="telecom" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>contacto con médico o técnico a cargo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="representedOrganization" type="HCENORG" minOccurs="0">
							<xs:annotation>
								<xs:documentation>en caso que la realización está subcontrada</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="typeCode" fixed="ATND"/>
	</xs:complexType>
	
<!-- / RIDI HCEN complex types -->

<!-- OPENDICOM complex types -->
	
	<xs:complexType name="DICOMREQCODE">
		<xs:sequence>
			<xs:element name="translation">
				<xs:complexType>
					<xs:attribute name="code" type="DICOMMODALITY"/>
					<xs:attribute name="displayName" type="DICOMMODALITYNAME"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="code" type="DICOMSH"/>
		<xs:attribute name="codeSystem" type="DICOMUI"/>
		<xs:attribute name="codeSystemName" type="DICOMSH"/>
		<xs:attribute name="displayName" type="DICOMLO"/>
	</xs:complexType>

	<xs:complexType name="component3" abstract="true"/>

	<xs:complexType name="sectionClinicalInformation">
		<xs:complexContent>
			<xs:extension base="component3">
				<xs:sequence>
					<xs:element name="section">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="code">
									<xs:complexType>
										<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
										<xs:attribute name="codeSystemName" fixed="LOINC"/>
										<xs:attribute name="code" fixed="55752-0"/>
										<xs:attribute name="displayName" fixed="Dato clínico"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="title" fixed="Dato clínico"/>
								<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
								<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- siempre presente -->
	<xs:complexType name="sectionImagingProcedure">
		<xs:complexContent>
			<xs:extension base="component3">
				<xs:sequence>
					<xs:element name="section">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="code">
									<xs:complexType>
										<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
										<xs:attribute name="codeSystemName" fixed="LOINC"/>
										<xs:attribute name="code" fixed="55111-9"/>
										<xs:attribute name="displayName" fixed="Procedimiento imagenológico"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="title" fixed="Procedimiento imagenológico"/>
								<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
								<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="component">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="section">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="templateId">
															<xs:complexType>
																<xs:attribute name="root" fixed="2.16.840.1.113883.10.20.6.1.1"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="code">
															<xs:complexType>
																<xs:attribute name="code" fixed="121181"/>
																<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																<xs:attribute name="codeSystemName" fixed="DCM"/>
																<xs:attribute name="displayName" fixed="DICOM Object Catalog"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="entry">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="entry">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="act">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="templateId">
																								<xs:complexType>
																									<xs:attribute name="root" fixed="1.2.840.10008.9.16"/>
																								</xs:complexType>
																							</xs:element>
																							<xs:element name="id">
																								<xs:complexType>
																									<xs:attribute name="root" type="DICOMUI">
																										<xs:annotation>
																											<xs:documentation>DICOM StudyUID</xs:documentation>
																										</xs:annotation>
																									</xs:attribute>
																								</xs:complexType>
																							</xs:element>
																							<xs:element name="code">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element name="qualifier" maxOccurs="unbounded">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element name="name">
																														
																													</xs:element>
																													<xs:element name="value"></xs:element>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																									<xs:attribute name="code" fixed="113014"/>
																									<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
																									<xs:attribute name="codeSystemName" fixed="DCM"/>
																									<xs:attribute name="displayName" fixed="Study"/>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																						<xs:attribute name="classCode" fixed="ACT"/>
																						<xs:attribute name="moodCode" fixed="EVN"/>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="classCode" fixed="DOCSECT"/>
													<xs:attribute name="moodCode" fixed="EVN"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="sectionComparisonStudy">
		<xs:complexContent>
			<xs:extension base="component3">
				<xs:sequence>
					<xs:element name="section">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="code">
									<xs:complexType>
										<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
										<xs:attribute name="codeSystemName" fixed="LOINC"/>
										<xs:attribute name="code" fixed="18834-2"/>
										<xs:attribute name="displayName" fixed="Estudio previo"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="title" fixed="Estudio previo"/>
								<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
								<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="sectionFindings">
		<xs:complexContent>
			<xs:extension base="component3">
				<xs:sequence>
					<xs:element name="section">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="code">
									<xs:complexType>
										<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
										<xs:attribute name="codeSystemName" fixed="LOINC"/>
										<xs:attribute name="code" fixed="59776-5"/>
										<xs:attribute name="displayName" fixed="Hallazgos"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="title" fixed="Hallazgos"/>
								<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
								<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="sectionImpression">
		<xs:complexContent>
			<xs:extension base="component3">
				<xs:sequence>
					<xs:element name="section">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="code">
									<xs:complexType>
										<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
										<xs:attribute name="codeSystemName" fixed="LOINC"/>
										<xs:attribute name="code" fixed="19005-8"/>
										<xs:attribute name="displayName" fixed="Impresiones"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="title" fixed="Impresiones"/>
								<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
								<xs:element name="entry" type="entry" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="sectionAddendum">
		<xs:complexContent>
			<xs:extension base="component3">
				<xs:sequence>
					<xs:element name="section">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="code">
									<xs:complexType>
										<xs:attribute name="codeSystem" fixed="1.2.840.10008.2.16.4"/>
										<xs:attribute name="codeSystemName" fixed="LOINC"/>
										<xs:attribute name="code" fixed="8653-8"/>
										<xs:attribute name="displayName" fixed="Aviso legal"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="title" fixed="Aviso legal"/>
								<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	
<!-- /OPENDICOM complex types -->
	
<!-- OPENDICOM simple types -->
	
	<xs:simpleType name="DICOMMODALITY">
		<xs:restriction base="xs:string">
			<xs:pattern value="(CR|DR|CT|MR|XA|PT|PET|OT|SR|SC|DOC)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMMODALITYNAME">
		<xs:restriction base="xs:string">
			<xs:pattern value="(RADIOLOGIA\sCOMPUTADA|RADIOLOGIA\sDIGITAL|TOMOGRAFIA\sCOMPUTADA|RESONANCIA\sMAGNETICA|ANGIOGRAFIA|PET|PET|OTRO|INFORME\sESTRUCTURADO|CAPTURA\sSEGUNDARIA|DOCUMENTO)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMDT">
		<xs:restriction base="xs:string">
			<xs:pattern value="20\d\d(0[1-9]|10|11|12)(0[1-9]|1\d|2\d|30|31)(00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23)[0-5]\d[0-5]\d"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DICOMDA">
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|10|11|12)(0[1-9]|1\d|2\d|30|31)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMSH">
		<xs:restriction base="xs:NMTOKEN">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMUI">
		<xs:restriction base="xs:token">
			<xs:pattern value="(0|[1-9]/d*)(\.(0|[1-9]/d*))*"></xs:pattern>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMPNosp">
		<xs:annotation>
			<xs:documentation>institucion^service^profesional (- o -^- finales autorizados cuando no son especificos)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value=".+(^.*)"></xs:pattern>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMLO">
		<xs:restriction base="xs:token">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="DICOMNAME">
		<xs:restriction base="xs:NCName">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
<!-- /OPENDICOM simple types -->


<!-- POCD_MT000040.Entry -->
	<xs:complexType name="entry">
		<xs:sequence>
			<xs:choice>
				<xs:element name="act" type="act"/>
				<xs:element name="encounter" type="encounter"/>
				<xs:element name="observation" type="observation"/>
				<xs:element name="observationMedia" type="observationMedia"/>
				<xs:element name="procedure" type="procedure"/>
				<xs:element name="regionOfInterest" type="regionOfInterest"/>
				<xs:element name="substanceAdministration" type="substanceAdministration"/>
				<xs:element name="supply" type="supply"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="act">
		<!--
		<xs:sequence>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="classCode" type="x_ActClassDocumentEntryAct" use="required"/>
		<xs:attribute name="moodCode" type="x_DocumentActMood" use="required"/>
		-->
	</xs:complexType>
	
	<xs:complexType name="encounter">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="observation">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="observationMedia">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="procedure">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="regionOfInterest">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="substanceAdministration">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="supply">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
	</xs:complexType>

</xs:schema>
